.center {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dots {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 40px 0;
}

.dots span {
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    border-radius: 50%;
    animation: pulse 1.2s infinite ease-in-out;
}

.dots span:nth-child(2) {
    animation-delay: 0.15s;
}

.dots span:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes pulse {

    0%,
    80%,
    100% {
        transform: scale(0);
        opacity: 0.3;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }
}