.teacherSection {
    padding: 20px 128px 150px;
    background-color: var(--color-bg-secont);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.filter {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.WrapFilter {
    display: flex;
    flex-direction: column;
    width: 221px;
    gap: 8px;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--color-text-light);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}




@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.paginationWrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    min-height: 56px;
}

.loadMoreBtn {
    background-color: var(--color-primary);
    border: none;
    padding: 16px 48px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.loadMoreBtn:hover:not(:disabled) {
    background-color: var(--color-primary-hover);
    transform: translateY(-2px);
}

.loadMoreBtn:active:not(:disabled) {
    transform: translateY(0);
}

.loadMoreBtn:disabled {
    background-color: var(--color-bg);
    color: var(--color-text-light);
    cursor: not-allowed;
    opacity: 0.8;
}

.noResults {
    text-align: center;
    font-size: 18px;
    color: var(--color-text-light);
    margin-top: 40px;
}

.centeredLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}