.wrapper {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 96px;
    margin-bottom: 16px;
}

.text {
    font-size: 18px;
    margin-bottom: 24px;
}

.link {

    text-decoration: underline;
}