.modalBackdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    z-index: 1000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.modalBackdrop::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.modalContent {
    background-color: var(--color-bg);
    width: 565px;
    max-width: 100%;
    border-radius: 30px;
    padding: 64px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modalClose {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}