.modalBackdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--color-bg);
    padding: var(--spacing);
    border-radius: var(--border-radius);
    width: 565px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 64px;
    border-radius: 30px;
}

.modalClose {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}