.header {
    max-width: 1440px;
    padding: 30px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-text);
    display: flex;
    gap: 8px;
}

.item {
    color: var(--color-text);
    transition: color 0.3s ease;
}

.item.active {
    color: var(--color-primary);
}

.svgLogo {
    color: var(--color-primary-hover);
    transition: transform 0.2s ease;
}

.nav {
    display: flex;
    gap: 28px;
}

.authList {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logBtn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-text);
    border: none;
    background-color: transparent;
    display: flex;
    gap: 8px;

}

.logBtn:hover {
    color: var(--color-primary);
}

.logBtn:hover .svgLogo {
    transform: scale(1.2);
}

.regBtn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-bg);
    border-radius: 12px;
    width: 166px;
    height: 48px;
    background: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.regBtn:hover,
.regBtn:focus {
    background-color: var(--color-text-light);
}