:root {
  --color-bg: #fff;
  --color-bg-secont: #f8f8f8;
  --color-primary-dark: #121417;
  --color-text: #121417;
  --color-text-light: #8a8a89;
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-bg);
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}


a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 0 64px;

}

* {
  transition: all 0.3s ease;
  box-sizing: border-box;
}